<%= form_with model: [:admin, program] do |f| %>
  
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :mode %>
    <%= f.text_field :mode %>
  </div>

  <%= f.submit %>
<% end %>