<%= form_with model: [:admin, program] do |f| %>
  
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :mode, "Anarchy" %>
    <%= f.radio_button :mode, "Anarchy" %>
    <%= f.label :mode, "Democracy" %>
    <%= f.radio_button :mode, "Democracy", checked: true %>
  </div>

  <%= f.submit %>
<% end %>