<!DOCTYPE html>
<html>
  <head>
    <title>Codetogether</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag :application, media: :all %>
    <%= javascript_pack_tag :application %>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&family=Space+Mono&display=swap" rel="stylesheet">
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div class="flash-<%=type%>">
        <%= msg %>
      </div>
    <% end %>

    <% if Rails.env.development? %>
      <div class="debug">
        <%= link_to :home, :home %>
        <%= link_to :admin, :admin_root %>
        <pre><%= local_assigns.dig(:program)&.attributes.dig("settings")&.inspect %></pre>
      </div>
    <% end %>
    <div class="main-container">
      <%= yield %>
    </div>
  </body>
</html>
