<!DOCTYPE html>
<html>
  <head>
    <title>Codetogether</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag :application, media: :all, 'data-turbolinks-track': :reload %>
    <%= javascript_pack_tag :application, 'data-turbolinks-track': :reload %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div class="flash-<%=type%>">
        <%= msg %>
      </div>
    <% end %>

    <% if Rails.env.development? %>
      <%= link_to :home, :home %>
      <%= link_to :admin, :admin_root %>
    <% end %>
    <%= yield %>
  </body>
</html>
