<!DOCTYPE html>
<html>
  <head>
    <title><%= local_assigns.dig(:program)&.name&.titleize %> CodeTogether</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag :application, media: :all %>
    <%= javascript_pack_tag :application %>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&family=Space+Mono&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="main-container">
      <%= yield %>
    </div>
    <div class="footer">Made with love for RubyConf2020 by Matt Rice and <a href="https://justinherrick.com/">Justin Herrick</a></div>
    <% flash.each do |type, msg| %>
      <div class="flash-<%=type%>">
        <%= msg %>
      </div>
    <% end %>
    <% if Rails.env.development? && params[:debug].present? %>
      <div class="debug">
        <%= link_to :home, :home %>
        <%= link_to :admin, :admin_root %>
        <pre><%= local_assigns.dig(:program)&.attributes&.dig("settings")&.inspect %></pre>
      </div>
    <% end %>
  </body>
</html>
